<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert Overview</title>
    <link rel="stylesheet" href="/static/css/alert_overview.css">
</head>
<body>
    <div class="alert-container" id="alert-container">
        <div class="alert-header" id="alert-header">Tornado Warning</div>
        <div class="alert-horizontal">
            <div class="alert-details" id="alert-details">Take shelter immediately</div>
            <div class="alert-locations" id="alert-locations">Northwestern LA</div>
            <div class="alert-expiration" id="alert-expiration">Expires: 4/3/2025, 4:05:47 PM</div>
        </div>
    </div>

    <script src="/static/js/alert_overview.js"></script>
</body>
</html>